<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">

        <div style="padding: 45px">
          <h3 class="western" lang="fi-FI"><strong>Peruustusehdot</strong></h3>
          <p class="western" lang="fi-FI">
            Työ ajankohdan siirtäminen tai peruminen tulee tapahtua 1 työpäivä ennen toimitusta.
            Mikäli asiakas on unohtanut siirtää tai perua tilauksen ja asentaja on käynyt työkohteessa, veloitetaan asiakkaalta tunnin työveloitus ja matkakorvaus. Veloitushinta määräytyy kulloinkin voimassa olevan hinnaston mukaisesti.
            Tilauksen jälkeen työnjohtomme on tarvittaessa yhteydessä toimituksen oikeellisuuden varmistamiseksi.
            Putkiremontti- ja lämmitysjärjestelmä saneerauksista teemme asiakkaalle tarjouksen. Hyväksytyn tarjouksen jälkeen tilaus laitetaan toimitukseen.

          </p>
          <p class="western" lang="fi-FI">Rahoituksella ostettaessa tilaus laitetaan toimitukseen vasta hyväksytyn rahoituspäätöksen jälkeen.
            Työt valmistumisen jälkeen asiakkaalle lähetetään sopimuksen mukainen lasku.</p>

        </div>

  </div>
</div>
