<div class="header">
  <div class="row">
    <div class="col">
      <a href=""><img src="assets/images/logo.png" style="width: 160px"></a>
    </div>
    <div class="col t-right align-items-center">

        <span *ngIf="session.isLoggedIn" class="m-r-30 ">
<!--          <span (click)="session.logout()"><button style="border: 1px solid grey;color: grey" class="logout-btn" mat-flat-button>Logout</button></span>-->
<!--          <span style="color: #98f5ba" aria-expanded="false" aria-haspopup="true"-->
<!--                class="mdi mdi-account-circle acc-icon icon" data-toggle="dropdown">-->
<!--            -->
<!--          </span>-->
<!--          <div class="dropdown-menu dropdown-menu-right">-->
<!--            <div>-->
<!--              <a class="dropdown-item" routerLink="/my-orders">{{util.setWords('MyOrder')}}</a>-->
<!--              <a class="dropdown-item" routerLink="/profile">{{util.setWords('Profile')}}</a>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a (click)="session.logout()" class="dropdown-item">{{util.setWords('Logout')}}</a>-->
<!--            </div>-->
<!--          </div>-->
        </span>

      <span *ngIf="!session.isLoggedIn" class="button-container">
<!--          <button mat-flat-button class="btn-login" routerLink="/login">{{util.setWords('Login')}}</button>-->
<!--          <button mat-raised-button class="btn-signup" routerLink="signup">{{util.setWords('SignUp')}}</button>-->
        </span>

    </div>
  </div>


</div>

<div class="text-right">
  <div class="btn-container">
<!--    <input (click)="util.changeLanguage(1)" type="radio" name="food" id="eng" checked hidden/>-->
<!--    <label for="eng">Eng</label>-->
<!--    <input (click)="util.changeLanguage(2)" type="radio" name="food" id="fin" hidden/>-->
<!--    <label for="fin">Fin</label>-->
  </div>
</div>
