<h2>{{util.setWords('Payment')}}</h2>

<div>
  <form [formGroup]="paymentFormGroup">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{util.setWords('Name')}}</mat-label>
          <input class="w-full" matInput formControlName="name" required>
          <mat-error>{{util.setWords('EnterValidName')}}</mat-error>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{util.setWords('Surname')}}</mat-label>
          <input class="w-full" matInput formControlName="surname">
          <mat-error>{{util.setWords('EnterValidLastName')}}</mat-error>

        </mat-form-field>

      </div>
    </div>
    <div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{util.setWords('Email')}}</mat-label>
          <input class="w-full" type="email" matInput formControlName="email"
                 required>
          <mat-error>{{util.setWords('EnterValidEmail')}}</mat-error>

        </mat-form-field>

      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{util.setWords('Telephone')}}</mat-label>
          <input class="w-full" maxlength="10" matInput formControlName="phone"
                 required>
          <mat-error>{{util.setWords('EnterValidPhone')}}</mat-error>

        </mat-form-field>

      </div>
    </div>

    <!--    <mat-checkbox  (change)="enterCoupon($event)" class="check">{{util.setWords('IHaveDiscountCoupon')}}</mat-checkbox>-->
    <!--    <div *ngIf="showCoupon" class="row">-->
    <!--      <div class="col">-->
    <!--        <mat-form-field appearance="outline">-->
    <!--          <mat-label>{{util.setWords('Coupon')}}</mat-label>-->
    <!--          <input [readonly]="dataService.selectSlotAgain" [(ngModel)]="inputCoupon" #coupon class="w-full" matInput formControlName="coupon">-->
    <!--          <mat-error>{{util.setWords('PleaseEnterAValidCoupon')}}</mat-error>-->
    <!--        </mat-form-field>-->

    <!--      </div>-->
    <!--      <div class="col">-->

    <!--        <button *ngIf ="!dataService.couponApplied" (click)="applyCoupon(coupon.value)" class="applyCoupon" mat-raised-button>{{util.setWords('Apply')}}</button>-->
    <!--        <button *ngIf ="dataService.couponApplied" (click)="removeCoupon()" class="removeCoupon" mat-raised-button>{{util.setWords('Remove')}}</button>-->

    <!--      </div>-->
    <!--    </div>-->

    <mat-checkbox formControlName="terms" class="check">{{util.setWords('IAcceptTerms&Conditions')}}</mat-checkbox>
    <div (click)="openDialog()" class="hint">{{util.setWords('ViewTerms&Condition')}}</div>
    <mat-checkbox formControlName="privacy" class="check">{{util.setWords('IAcceptCancellationPolicy')}}</mat-checkbox>
    <div (click)="openDialogCancel()" class="hint">{{util.setWords('ViewCancellationPolicy')}}</div>

<!--    <app-information></app-information>-->
    <div class="container">
      <div class="text-center my-5">
        <h4>Maksu ja tilauksen vahvistus</h4>

      </div>
      <mat-card class="info">

        <p> Emme peri maksua, vaan tilausjärjestelmä luo tietojesi pohjalta tilauksen järjestelmäämme. Jos kyseessä on pienhuolto tai asennustyö tulemme valitsemanasi ajankohtana paikalle. Jos kyseessä on laajempi remontti, niin myyjämme on sinuun vielä yhteydessä. 🔧</p>
      </mat-card>

    </div>



    <div class="text-center">
      <button [disabled]="dataService.selectedService.length === 0" (click)="placeOrder()" mat-raised-button
              class="order-button">{{util.setWords('ProceedToPay')}}</button>
    </div>

  </form>

</div>


<div style="color: #111111" class="modal fade" id="paymentModal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{util.setWords('YourOrderHasBeenPlacedSuccessfulLy')}}</h5>
      </div>
      <div class="modal-body">
        {{util.setWords('PaymentOf')}} {{dataService.total}}&euro; {{util.setWords('isPending')}}
      </div>
      <div class="modal-footer">
        <button style="color: white" type="button" routerLink="/payment-info/fail" data-dismiss="modal"
                class="btn btn-danger" (click)="confirmOrder(0)">{{util.setWords('Failed')}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/payment-info/success"
                (click)="confirmOrder(1)">{{util.setWords('Success')}}</button>
      </div>
    </div>
  </div>
</div>
