<img src="/assets/images/bg-signup.jpg" alt="piano" class="bg">
<div class="container text-center">
  <mat-card class="login-card mat-elevation-z5">

    <h3 routerLink="/" class="text-center m-t-15 m-b-15"><img src="assets/images/logo.png" style="width: 140px"></h3>

    <form style="margin: 15px" [formGroup]="loginForm">

      <mat-hint class="text-white t-left m-b-10">{{util.setWords('EnterEmailToReset')}}</mat-hint>
      <mat-form-field appearance="outline"  class="w-full">
        <mat-label>{{util.setWords('Email')}}</mat-label>
        <label>
          <input formControlName="email" matInput type="text" placeholder="{{util.setWords('Email')}}">
        </label>
      </mat-form-field>

      <div>
        <button (click)="reset()" mat-raised-button class="login-btn">{{util.setWords('ResetPassword')}}</button>
      </div>


    </form>

  </mat-card>
</div>
