<div class="footer">
  <div class="row m-0">
    <div class="col-lg col-sm-12 right footer-link">
      <a href="http://whale.ideatechnologies.io/">
        <span> &#169;{{util.setWords('AllRightsReserved')}}</span></a>
    </div>
    <div class="col-lg col-sm-12 footer-link">
      <a href="">
        <span>{{util.setWords('PrivacyPolicy')}}</span>
      </a>
      <a routerLink="/termsconditions">
        <span class="m-l-15">{{util.setWords('Terms&Condition')}}</span>
      </a>
      <a href="">
        <span class="m-l-15">{{util.setWords('About')}}</span>
      </a>
    </div>
  </div>
</div>
